*.o
yyparse.c
yylex.c
trial.c
trial
*.err
rdtest
wrtest
setup.dbg
cmdgen
Makefile.in
aclocal.m4
autom4te.cache
configure
yyparse.h
Makefile
config.h
config.log
config.status
stamp-h1
COPYING
INSTALL
depcomp
install-sh
missing
ylwrap
x86
.deps
*.tar.gz
FullBuild.*
